# Node
node_modules/
npm-debug.log*

# Angular build output
dist/
# public/ sengaja tidak diabaikan agar build tersedia di repo
.angular/cache/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
